  /* Base css start */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font-size-base: 16px;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-brown: #A07744;
    --color-green: #028298;
    --color-body: #021A45;
    --color-background: #faf6e3;
    --transition-fast: 0.2s ease-in-out;
  }

  @font-face {
    font-family: 'Poppins-Light';
    src: url('../../public/assets/font/Poppins-Light.woff2') format('woff2'),
      url('../../public/assets/font/Poppins-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../../public/assets/font/Poppins-Regular.woff2') format('woff2'),
      url('../../public/assets/font/Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../public/assets/font/Poppins-SemiBold.woff2') format('woff2'),
      url('../../public/assets/font/Poppins-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playfair-SemiBold';
    src: url('../../public/assets/font/Playfair-SemiBold.woff2') format('woff2'),
      url('../../public/assets/font/Playfair-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playfair-Regular';
    src: url('../../public/assets/font/Playfair-Regular.woff2') format('woff2'),
      url('../../public/assets/font/Playfair-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playfair-Bold';
    src: url('../../public/assets/font/Playfair-Bold.woff2') format('woff2'),
      url('../../public/assets/font/Playfair-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  html {
    font-size: clamp(14px, 1.5vw, 16px);
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins-Regular';
    color: var(--color-body);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0 0 1em 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
  }

  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: var(--color-black);
    text-decoration: none;
    transition: color var(--transition-fast);
  }

  a:hover,
  a:focus {
    color: var(--color-green);
    outline: none;
  }

  :focus-visible {
    outline: 0;
    outline-offset: 0;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  button {
    font-family: 'Poppins-Regular';
    cursor: pointer;
    border: none;
    background: none;
  }

  /* Component css start */

  .sub_heading {
    font-family: 'Playfair-SemiBold';
    line-height: normal;
    font-size: 2.5rem;
    color: var(--color-green);
    text-align: center;
  }

  .read_more_btn a {
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 10px;
    width: fit-content;
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    border-radius: 40px;
    align-items: center;
    line-height: normal;
    color: var(--color-white);
  }

  .my_btn_box a {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 10px;
    width: fit-content;
    padding: 14px 30px;
    border-radius: 40px;
    align-items: center;
    line-height: normal;
  }

  .my_btn_box.call_btn a {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .my_btn_box.whatsapp_btn a {
    background-color: #028298;
    color: var(--color-white);
  }

  .my_btn_box.appointment_btn a {
    background-color: #FFFFFF4D;
    color: var(--color-white);
  }

  .heading {
    font-family: 'Playfair-Bold';
    font-size: 2.5rem;
    line-height: normal;
    color: var(--color-white);
  }

  .heading span {
    color: #ECCC7E;
  }

  .my_custom_listing ul li {
    position: relative;
    padding: 0 0 12px 22px;
  }

  .my_custom_listing ul li:last-child {
    padding: 0 0 0 22px;
  }

  .my_custom_listing ul li::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../../public/assets/images/about/right-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 4px;
  }

  .submite_btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--color-green);
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins-SemiBold';
  }

  .submite_btn span {
    font-family: 'Poppins-Light';
  }

  .submite_btn:hover {
    background-color: #a07744;
  }

  /* Component css ends  */

  /* Header section start */
  header {

    overflow-x: hidden;
    padding: 1.25rem 0;

    .header_mainbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .header_absolute_box img {
      max-width: 200px;
    }

    .header_menu_box {
      padding: 2.188rem 0 2.188rem 3.75rem;
      background-color: var(--color-green);
      border-radius: 120px 0 0 120px;
      position: relative;
    }

    .header_menu_box::after {
      position: absolute;
      content: "";
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: var(--color-green);
    }

    .header_menu_box nav ul {
      display: flex;
      gap: 40px;
      align-items: center;
    }

    .header_menu_box nav ul li a {
      color: var(--color-white);
      font-family: 'Poppins-SemiBold';
      font-size: 1rem;
      position: relative;
    }

    .header_menu_box nav ul li a.header_login_btn {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0.4rem 1rem;
      border: 1px solid var(--color-white);
      border-radius: 40px;
    }

  }

  .header_main_section {
    display: grid;

    &>* {
      grid-area: 1/1;
    }

    .header_absoluate_logobox {
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 4px;
      z-index: 999;
    }
  }

  /* Header section ends */
  /* Banner section start */
  .home_banner_section {
    display: grid;

    &>* {
      grid-area: 1/1;
    }

    .home_banner_corner_img_one {
      width: fit-content;
      height: fit-content;
      align-self: end;
    }

    .home_banner_corner_img_two {
      width: fit-content;
      height: fit-content;
      align-self: end;
      justify-self: end;
    }

    .banner_para_home p {
      font-size: 18px;
      color: var(--color-white);
      margin: 0 0 2.5rem 0;
    }

    .home_banner_btnbox {
      display: flex;
      gap: 20px;
      margin: 0 0 1.875rem 0;
    }

    /* .home_banner_content_box {
      padding: 100px 0 0 0;
    } */

    .home_banner_imgbox {
      width: 100%;
      height: 90vh;
    }

    .home_banner_imgbox video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .container {
      position: relative;
      z-index: 10;
      align-self: center;
    }

    .home_banner_imgbox_gredient {
      width: 100%;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  /* Banner section ends */

  /* Home about section start */
  .section_home_about_section {
    margin: 100px 0 0 0;

    .sub_heading {
      position: relative;
    }

    .sub_heading::after {
      position: absolute;
      content: "";
      width: 700px;
      height: 70px;
      z-index: -1;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../../public/assets/images/home/about-heading-background.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .home_about_para p {
      font-family: 'Poppins-Light';
      margin: 3.75rem 0 0 0;
      text-align: center;
    }

    .home_about_second_para p {
      font-family: 'Poppins-SemiBold';
      text-align: center;
      margin: 1.25rem 0 0 0;
    }

    .home_about_imagebox {
      margin: -100px 0 0 0;
      position: relative;
      z-index: -1;
    }
  }

  /* Home about section ends  */
  /* Promise section start  */
  .promise_section {
    display: grid;
    padding: 100px 0 0 0;
    background: linear-gradient(180deg, rgba(255, 254, 253, 1) 0%, rgba(252, 247, 236, 0.3) 100%);

    &>* {
      grid-area: 1/1;
    }

    .sub_heading {
      text-align: start;
    }

    .promise_listing_content {
      font-size: 18px;
      font-family: 'Poppins-SemiBold';
      line-height: 1.2;
    }

    .promise_listing {
      display: grid;
      /* grid-template-columns: 30px 1fr; */
      grid-gap: 10px;
      gap: 10px;
      /* align-items: center; */
      /* padding: 0.635rem; */
      /* border: 1px solid var(--color-green); */
      /* border-radius: 12px; */
    }

    .promise_mainbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    .promise_para_first p {
      margin: 0 0 1.875rem 0;
    }
  }

  /* Promise section ends  */
  /* Family connection section start  */
  .family_connection_section {
    background: linear-gradient(180deg, rgba(255, 254, 253, 1) 0%, rgba(252, 247, 236, 1) 100%);
    padding: 100px 0 0 0;
    display: grid;

    &>* {
      grid-area: 1/1;
    }

    .sub_heading {
      text-align: start;
    }

    .family_connection_para_first p {
      font-size: 18px;
      margin: 0 0 1.25rem 0;
    }

    .family_connection_listing {
      display: grid;
      grid-template-columns: 58px 1fr;
      gap: 20px;
      align-items: center;
    }

    .family_connection_list_mainbox {
      display: grid;
      gap: 40px;
      padding: 0 2rem 0 0;
    }

    .family_connection_heading {
      font-size: 18px;
      font-family: 'Poppins-SemiBold';
      margin: 0 0 0.625rem 0;
    }
  }

  /* Family connection section ends  */
  /* Step into gharkul section start  */
  /* .steps_mainBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  } */

  .step_listing {
    display: grid;

    &>* {
      grid-area: 1/1;
    }
  }

  .step_headingBox {
    gap: 10px;
    background-color: #028298;
    border-radius: 10px;
    color: #FFF;
    display: flex;
    padding: 10px 15px;
    align-items: center;
  }

  .step_number {
    background-color: #FFF;
    color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
  }

  .step_contentBox {
    padding: 36px 0 0 0;
  }

  .step_textBox {
    padding: 25px 0 0 60px;
  }

  .step_arrow {
    padding: 0 0 0 20px;
  }

  .step_heading,
  .step_number {
    font-size: 18px;
    font-family: 'Poppins-SemiBold';
    line-height: normal;
  }

  .step_text {
    margin: 0 0 1rem 0;
  }

  .step_listing.step_brown_head .step_headingBox {
    background-color: var(--color-brown);
  }

  .step_listing.step_brown_violate .step_headingBox {
    background-color: #B3A1BD;
  }

  .steps_section .custom_navigation_mainbox {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 2.5rem 0 0 0;
  }

  .steps_section {
    padding: 100px 0 60px 0;
    background-color: #FCF7EC;
    position: relative;
  }

  .steps_section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/assets/images/home/map-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    display: none;
  }

  .steps_section>* {
    position: relative;
    z-index: 100;
  }

  .custom-prev,
  .custom-next {
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .custom-prev:hover svg circle,
  .custom-next:hover svg circle {
    fill: var(--color-black);
  }

  .stps_para_first p {
    font-size: 18px;
    margin: 0 0 1.25rem 0;
  }

  .stps_para_second p {
    margin: 0 0 2.5rem 0;
  }

  .steps_below_para_mainbox {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(246, 231, 195, 1) 50%, rgba(255, 255, 255, 0.2) 100%);
    padding: 1.875rem 0;
    text-align: center;
    margin: 2.5rem 0 0 0;
  }

  /* Step into gharkul section ends  */

  /* Stories section start */
  .stories_section {
    padding: 100px 0 0 0;

    .stories_mainbox {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 1fr;
      gap: 20px;
    }

    .stories_firstbox,
    .stories_thirdbox {
      display: grid;

      &>* {
        grid-area: 1/1;
      }
    }

    .stories_first_content_box {
      align-self: end;
      padding: 1.25rem;
      color: var(--color-white);
      display: grid;
      gap: 15px;
    }

    .stories_thirdbox_video {
      align-self: center;
      justify-self: center;
      width: fit-content;
      height: fit-content;
    }

    .stories_first_gredien_box {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
      border-radius: 0 0 20px 20px;
    }

    .stories_first_img_box img,
    .stories_thirdbox_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
    }

    .stories_secondbox {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
    }

    .card_heading {
      color: var(--color-white);
      font-family: 'Playfair-Regular';
      font-size: 1.563rem;
    }

    .stories_secondbox_first,
    .stories_secondbox_second {
      padding: 1.875rem;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: var(--color-brown);
      justify-content: center;
      color: var(--color-white);
      border-radius: 20px;
    }

    .stories_secondbox_second {
      background-color: var(--color-green);
    }

    .sub_heading {
      margin: 0 0 2.5rem 0;
    }

    .stories_thirdbox_video {
      position: relative;
    }

  }

  /* Stories section ends  */
  /* Home contact section start  */
  .home_contact_section {
    padding: 60px 0 0 0;
    margin: 100px 0 0 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../public/assets/images/home/contact-background.webp") no-repeat center/cover;
      opacity: 0.8;
      z-index: -1;
    }

    .home_contact_mainbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    .sub_heading {
      text-align: start;
    }

    .home_contact_listing {
      display: grid;
      grid-template-columns: 51px 1fr;
      gap: 20px;
      align-items: center;
    }

    .home_contact_list_mainbox {
      display: grid;
      gap: 40px;
      margin: 2.5rem 0 0 0;
    }

    .home_contact_rightbox iframe {
      border-radius: 20px;
    }

    .home_contact_leftbox {
      padding: 0 3.75rem;
    }
  }

  /* Home contact section ends  */
  /* Footer section start  */
  footer {
    margin: 100px 0 0 0;
    padding: 3.75rem 0 2.5rem 0;
    background-color: #0B8FA6;
    color: var(--color-white);

    .footer_top_box {
      display: grid;

      &>* {
        grid-area: 1/1;
      }
    }

    .footer_top_mainbox {
      display: grid;
      grid-template-columns: 1fr 0.6fr 1fr;
    }

    .footer_heading {
      font-size: 22px;
      font-family: 'Poppins-SemiBold';
      margin: 0 0 3.125rem 0;
      line-height: normal;
      font-weight: 500;
    }

    .footer_social_links ul {
      display: flex;
      gap: 25px;
    }

    .footer_social_links ul li a svg {
      transition-duration: 0.3s;
    }

    .footer_social_links ul li a svg:hover {
      transform: scale(1.08);
    }

    .footer_quick_links ul li a {
      color: var(--color-white);
      display: inline-block;
      transition-duration: 0.3s;
    }

    .footer_quick_links ul li a:hover {
      color: #8dd7e4;
    }

    .footer_quick_links ul li:not(:last-child) {
      padding: 0 0 1rem 0;
    }

    .footer_top_first_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 60%;
    }

    .footer_bottom_rightbox img {
      max-width: 75px;
    }

    .footer_copywrite_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.625rem 0 0 0;
    }

    .footer_bottom_rightbox {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .footer_back_imgbox img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  /* Footer section ends  */

  /* responsive header start */
  .menu-toggle,
  .close_btn {
    display: none;
  }

  /* responsive header ends */
  /* Inner Banner CSS start */
  .inner_banner_section {
    .inner_banner_mainbox {
      display: grid;
      grid-template-areas: "stack";
    }

    .inner_banner_imgbox {
      grid-area: stack;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .inner_banner_mainbox .container {
      grid-area: stack;
      z-index: 10;
      align-self: center;
      text-align: center;
      justify-self: center;
    }

    .inner_banner_corner_img_one {
      grid-area: stack;
      z-index: 5;
      width: fit-content;
      height: fit-content;
      align-self: end;
    }

    .inner_banner_corner_img_two {
      grid-area: stack;
      z-index: 5;
      width: fit-content;
      height: fit-content;
      justify-self: end;
      align-self: end;
    }

    .inner_banner_corner_img_one img {
      max-width: 100px;
    }

    .inner_banner_corner_img_two img {
      max-width: 120px;
    }

    .inner_banner_imgbox img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .breadcrumb {
      justify-content: center;
      background: transparent;
    }

    .breadcrumb-item a {
      color: #ECCC7E;
      font-family: 'Poppins-SemiBold';
    }

    .breadcrumb-item.active {
      color: var(--color-white);
      padding: 0 0 0 30px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
      color: var(--color-white);
      padding: 0 30px 0 0;
    }
  }

  /* Inner Banner CSS ends  */

  /* ===================ABOUT US PAGE START ====================== */
  .inner_about_section {
    padding: 100px 0 0 0;

    .inner_about_para .extra_content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease, opacity 0.5s ease;
      opacity: 0;
    }

    .inner_about_para .extra_content.expanded {
      max-height: 1000px;
      /* adjust based on content height */
      opacity: 1;
    }

    .readmore_btn {
      margin-top: 1rem;
      display: inline-block;
      padding: 10px 25px;
      background-color: var(--color-green);
      color: #fff;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: 'Poppins-SemiBold';
    }

    .readmore_btn span {
      font-family: 'Poppins-Light';
    }

    .readmore_btn:hover {
      background-color: #a07744;
    }

    .inner_about_mainbox {
      display: grid;
      grid-template-columns: 1fr 0.9fr;
      gap: 40px;
    }

    .inner_about_rightbox {
      display: grid;
      grid-template-areas: "stack";
      height: fit-content;
    }

    .inner_about_background_box {
      grid-area: stack;
      z-index: 1;
      width: fit-content;
      height: fit-content;
      position: relative;
      top: -40px;
      left: -20px;
    }

    .inner_about_right_img_box {
      grid-area: stack;
      z-index: 2;
      align-self: center;
      justify-self: center;
      width: fit-content;
      height: fit-content;
    }

    .inner_about_slogan_box {
      grid-area: stack;
      z-index: 3;
      align-self: end;
      justify-self: center;
      width: -moz-fit-content;
      width: fit-content;
      height: -moz-fit-content;
      height: fit-content;
      text-align: center;
      padding: 1.25rem 3.125rem;
      background-color: #028298e0;
      border-radius: 100px;
      font-size: 25px;
      color: var(--color-white);
      font-family: 'Poppins-Light';
      line-height: normal;
    }

    .inner_about_slogan_box span {
      font-family: 'Poppins-SemiBold';
    }

    .sub_heading {
      text-align: start;
    }
  }

  .vision_section {
    margin: 100px 0 0 0;

    .sub_heading {
      text-align: start;
    }

    .vision_mainbox {
      display: grid;
      grid-template-areas: "stack";
    }

    .vision_img_box {
      grid-area: stack;
    }

    .vision_mainbox .container {
      grid-area: stack;
      align-self: center;
    }
  }

  .mission_section {

    .sub_heading {
      text-align: start;
    }

    .mission_mainbox {
      display: grid;
      grid-template-areas: "stack";
    }

    .mission_mainbox .container {
      grid-area: stack;
      align-self: center;
    }

    .mission_img_box {
      grid-area: stack;
      justify-self: end;
    }
  }

  .outcomes_section {
    padding: 60px 0;
    background: linear-gradient(0deg, rgba(252, 247, 236, 0.9) 0%, rgba(253, 250, 242, 1) 80%, rgba(255, 255, 255, 0.9) 100%);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../public/assets/images/about/outcomes-background-image.webp");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.8;
      z-index: -1;
    }

    .outcomes_listing_mainbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }

    .outcomes_listing_box {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 10px;
    }

    .outcomes_listing_icon {
      width: 80px;
      height: 80px;
      overflow: hidden;
    }

    .outcomes_listing_icon img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }

    .outcomes_listing_heading {
      font-size: 18px;
      font-family: 'Poppins-SemiBold';
      margin: 0 0 0.313rem 0;
    }
  }

  .about_registration_section {
    padding: 100px 0 0 0;

    .about_registration_mainbox {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      align-items: center;
    }

    .about_registration_heading {
      font-size: 18px;
      font-family: 'Poppins-SemiBold';
      margin: 0 0 1.875rem 0;
    }

    .about_registration_rightbox {
      background-color: var(--color-brown);
      padding: 1.875rem;
      border-radius: 20px;
      text-align: center;
      color: var(--color-white);
      font-family: 'Playfair-Regular';
      font-size: 25px;
      box-shadow: 0px 8px 12px #dedede;
    }
  }

  /* ===================ABOUT US PAGE ENDS ======================= */
  /* ===================Services PAGE START ====================== */
  .promise_of_care_section {
    padding: 100px 0 0 0;

    .promise_of_care_firstpara p {
      font-size: 18px;
      text-align: center;
    }

    .promise_of_care_secondpara p {
      text-align: center;
      margin: 0 0 1.25rem 0;
    }

    .promise_of_care_listing_box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    .promise_of_care_listing {
      display: grid;
      grid-template-areas: "stack";
      filter: drop-shadow(2px 4px 6px #d9d9d9);
      transition-duration: 0.5s;
    }

    /* .promise_of_care_listing:hover {
      filter: drop-shadow(0px 4px 0px var(--color-green));
    } */

    .promise_of_care_listing_img {
      grid-area: stack;
    }

    .promise_of_care_listing_content {
      grid-area: stack;
      width: fit-content;
      height: fit-content;
      padding: 30px;
    }

    .promise_of_care_card_heading {
      font-size: 18px;
      font-family: 'Poppins-SemiBold';
      margin: 0 0 0.625rem 0;
    }

    .promise_of_care_listing_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

  }

  /* ===================Services PAGE ENDS ======================= */
  /* ===================ENQUIRY FORM PAGE START ================== */
  .enquiry_form_section {
    padding: 100px 0 0 0;
    background: linear-gradient(180deg, rgba(255, 254, 253, 1) 0%, rgba(252, 247, 236, 0.3) 100%);

    .enquiry_form_mainbox {
      padding: 50px;
      border-radius: 30px;
      background-color: #fff;
      box-shadow: 4px 4px 20px #d6d6d666;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 80px;
    }

    .enquiry_formbox form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .msg_form_group,
    .form_submit {
      grid-column: 1/3;
    }

    /* .form_submit {
      text-align: center;
    } */

    .form-control,
    .form-select {
      padding: 1.25rem 1.25rem;
      border-radius: 80px;
      color: #93959e;
    }

    .form-control::placeholder {
      color: #93959e;
      font-size: 14px;
    }

    .form_group select {
      font-size: 14px;
      color: #93959e;
    }

    .enquiry_form_mainbox p {
      position: relative;
      padding: 0 0 20px 0;
      margin: 0 0 40px 0;
    }

    .enquiry_form_mainbox p:after {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #d6d6d68a;
      border-radius: 40px;
    }

    .error_msg {
      font-size: 12px;
      color: red;
      margin: 0px 0 0 20px;
    }

    .form-control:focus,
    .form-select:focus {
      border-color: var(--color-green);
      box-shadow: unset;
    }

    .enquiry_form_rightbox {
      width: 100%;
      aspect-ratio: 1/1.2;
      position: relative;
    }

    .enquiry_form_rightbox::after {
      content: "";
      position: absolute;
      right: -15px;
      bottom: -15px;
      background-color: var(--color-green);
      border-radius: 30px;
      width: 100%;
      height: 100%;
    }

    .enquiry_form_rightbox img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 30px;
      position: relative;
      z-index: 1;
    }

    .sub_heading {
      text-align: start;
    }
  }

  /* ===================ENQUIRY FORM PAGE ENDS =================== */

  /* Media quairy start */
  @media (max-width: 1440px) {
    .home_banner_section {
      .home_banner_content_box {
        padding: 80px 0 0 0;
      }

      .banner_para_home p {
        margin: 0 0 1.563rem 0;
      }

      .home_banner_btnbox {
        margin: 0 0 1.563rem 0;
      }
    }

    header {
      .header_menu_box {
        padding: 1.875rem 0 1.875rem 3.75rem;
      }
    }

    .header_absoluate_logobox img {
      max-width: 200px;
    }

    .family_connection_section {
      .family_connection_list_mainbox {
        gap: 25px;
      }
    }
  }

  @media (max-width: 1400px) {
    header {
      .header_menu_box nav ul {
        gap: 25px;
      }

      .header_menu_box {
        padding: 1.563rem 0 1.563rem 3.125rem;
      }
    }

    .header_absoluate_logobox img {
      max-width: 185px;
    }

    .home_banner_section {
      .home_banner_content_box {
        padding: 60px 0 0 0;
      }

      .banner_para_home p {
        margin: 0 0 1.25rem 0;
      }

      .home_banner_btnbox {
        margin: 0 0 1.25rem 0;
      }

      .heading {
        line-height: 1.2;
      }

      .my_btn_box a {
        padding: 10px 26px;
      }

      .home_banner_corner_img_one img {
        max-width: 80%;
      }

      .home_banner_corner_img_two img {
        max-width: 80%;
      }

      .home_banner_corner_img_two {
        display: flex;
        justify-content: end;
      }
    }

    .family_connection_section {
      .family_connection_list_mainbox {
        gap: 20px;
        padding: 0;
      }

      .family_connection_heading {
        font-size: 16px;
      }

      .family_connection_text {
        font-size: 14px;
      }
    }

    .promise_section {
      .promise_listing_content {
        font-size: 16px;
      }
    }

    footer {
      .footer_top_first_box {
        max-width: 70%;
      }

      .footer_heading {
        font-size: 20px;
        margin: 0 0 2.5rem 0;
      }

      .footer_quick_links ul li:not(:last-child) {
        padding: 0 0 0.625rem 0;
      }
    }

    .promise_of_care_section {
      .promise_of_care_listing_content p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 1200px) {
    header {
      .header_menu_box nav ul {
        gap: 18px;
      }
    }

    .header_absoluate_logobox img {
      max-width: 150px;
    }

    .home_banner_section {
      .heading {
        font-size: 2.188rem;
      }

      .home_banner_content_box {
        padding: 40px 0 0 0;
      }

      .home_banner_corner_img_one img,
      .home_banner_corner_img_two img {
        max-width: 60%;
      }
    }

    .sub_heading {
      font-size: 2.188rem;
    }

    .family_connection_section {
      .family_connection_rightbox {
        align-self: end;
      }
    }

    .footer_back_imgbox {
      align-self: end;
      padding: 3.75rem 0 0 0;
    }
  }

  @media (max-width: 991.98px) {

    /* responsive header start */
    .menu-toggle {
      display: block;
    }

    .close_btn {
      display: flex;
      justify-content: end;
    }

    header {
      .header_menu_box {
        position: fixed;
        top: 0;
        right: 0;
        background: var(--color-green);
        max-width: 100%;
        width: 350px;
        height: 100%;
        z-index: 999;
        padding: 1.25rem;
        overflow: hidden;
        transform: translateX(100%);
        transition: all 0.4s ease-in-out;
        padding: 1.875rem;
        border-radius: 0;
      }

      .header_menu_box nav ul {
        flex-direction: column;
        gap: 0;
      }

      .header_menu_box nav ul li {
        width: 100%;
        text-align: center;
      }

      .header_menu_box nav ul li a {
        padding: 1rem 0;
        border-bottom: 1px dashed var(--color-white);
        width: 100%;
        display: inline-block;
      }

      /* .header_menu_box nav ul li:last-child a {
        border-bottom: none;
      } */

      .header_menu_box nav ul li a.header_login_btn {
        justify-content: center;
        margin: 20px auto 0px auto;
        width: fit-content;
      }
    }

    .menu_open .header_menu_box {
      transform: translateX(0);
    }

    .header_menu_box::after {
      display: none;
    }

    /* responsive header ends */

    .header_absoluate_logobox img {
      max-width: 120px;
    }

    .home_banner_imgbox,
    .home_banner_imgbox_gredient {
      width: 100%;
      height: 380px;
    }

    .home_banner_imgbox img,
    .home_banner_imgbox_gredient img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .section_home_about_section {
      .home_about_imagebox {
        margin: -50px 0 0 0;
      }
    }

    .section_home_about_section {
      margin: 60px 0 0 0;
    }

    .promise_section {
      padding: 60px 0 0 0;
    }

    .family_connection_section {
      padding: 60px 0 0 0;
    }

    .steps_section {
      padding: 60px 0 60px 0;
    }

    .stories_section {
      padding: 60px 0 0 0;

      .stories_mainbox {
        grid-template-columns: 1fr 1fr;
      }

      .stories_thirdbox {
        grid-column: 1/3;
      }

      .stories_thirdbox .stories_thirdbox_img {
        width: 100%;
        height: 300px;
      }

      .stories_thirdbox .stories_thirdbox_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .home_contact_section {
      margin: 0px 0 0 0;
    }

    footer {
      margin: 60px 0 0 0;
    }

    .promise_left_imgbox {
      display: none;
    }

    .family_connection_section {
      .family_connection_rightbox {
        opacity: 0.2;
      }
    }

    footer {
      .footer_back_imgbox {
        display: none;
      }

      .footer_top_first_box {
        max-width: 100%;
        gap: 10px;
      }

      .footer_top_mainbox {
        gap: 20px;
        padding: 0 0 1.25rem 0;
        margin: 0 0 1.25rem 0;
        border-bottom: 1px solid #ffffff57;
      }

      .footer_copywrite_box {
        margin: 0;
      }
    }

    .home_contact_section {
      .home_contact_list_mainbox {
        grid-gap: 20px;
        gap: 20px;
        margin: 1.25rem 0 0 0;
      }
    }

    .home_contact_section {
      .home_contact_leftbox {
        padding: 0;
      }
    }
  }

  @media (max-width: 767.98px) {
    .section_home_about_section {
      .sub_heading::after {
        bottom: -35px;
        width: 100%;
        height: 100%;
      }
    }

    .home_banner_section {
      .heading {
        font-size: 1.75rem;
      }

      .banner_para_home p {
        font-size: 16px;
      }

      .home_banner_corner_img_one img,
      .home_banner_corner_img_two img {
        max-width: 50%;
      }
    }

    .sub_heading {
      font-size: 1.75rem;
    }

    .home_contact_section {
      .home_contact_mainbox {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }

    footer {
      padding: 2.5rem 0 2.5rem 0;

      .footer_top_mainbox {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 0px;
      }

      .footer_top_first_box {
        grid-column: 1/3;
      }

      .footer_top_first_box {
        align-items: center;
        flex-direction: row;
        gap: 20px;
        padding: 0 0 1.25rem 0;
        margin: 0 0 1.25rem 0;
        border-bottom: 1px solid #ffffff57;
      }

      .footer_heading {
        margin: 0 0 1.25rem 0;
      }

      .footer_icon_box img {
        max-width: 120px;
      }
    }
  }

  @media (max-width: 575.98px) {

    .home_banner_imgbox,
    .home_banner_imgbox_gredient {
      width: 100%;
      height: 350px;
    }

    .home_banner_imgbox img {
      object-position: left;
    }

    .home_banner_section {

      .home_banner_corner_img_one img,
      .home_banner_corner_img_two img {
        max-width: 30%;
      }

      .my_btn_box a {
        padding: 8px 20px;
      }
    }

    .section_home_about_section {
      .home_about_imagebox {
        margin: -20px 0 0 0;
      }
    }

    .family_connection_section {
      .family_connection_rightbox {
        display: none;
      }

      .family_connection_para_first p {
        font-size: 16px;
      }
    }

    .stps_para_first p {
      font-size: 16px;
    }

    .stories_section {
      .stories_mainbox {
        grid-template-columns: 1fr;
        column-gap: 0;
      }

      .stories_firstbox {
        grid-column: 1/3;
      }
    }

    header {
      .header_menu_box {
        width: 100%;
      }
    }

    footer {
      .footer_social_links ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }

      .footer_copywrite_box {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
      }
    }

  }

  /* Media quairy ends  */